.event-wrap {
    padding-bottom: 76px;
    max-width: 1296px;
    margin: 0 auto;
    position: relative;
}

.eventCard * {
    pointer-events: none;
}

.contenedor.event-pg {
    background: url(../public/images/home-bg.png) center center no-repeat;
    background-size: cover;
}

.event-wrap>h3 {
    font-family: 'Baloo 2';
    font-weight: 700;
    font-size: 40px;
    line-height: 1.575;
    text-align: center;
    text-transform: capitalize;
    color: #000000;
    margin-bottom: 80px;
    position: relative;
}

.event-wrap>h3::after {
    content: "";
    background: #FF1E1E;
    height: 5px;
    width: 243px;
    top: calc(100% - 4px);
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    border-radius: 5px;
}

.event-wrap .row {
    justify-content: center;
    position: relative;
}

.event-wrap .row .event-col {
    margin-bottom: 24px;
}

.eventCard {
    background: #FFFFFF;
    box-shadow: 0px 32px 64px -12px rgba(16, 24, 40, 0.14);
    border-radius: 25px;
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.eventCard .eventImage {
    display: flex;
    /* max-height: 359px;
    max-width: 280px; */
    width: 100%;
    height: 342px;
}

.eventCard .eventImage img {
    max-height: 100%;
    max-width: 100%;
    width: 100%;
}

.eventCard .eventData {
    padding: 16px 24px 27px;
}
.eventData {
    flex-grow: 1;
    flex-flow: column;
    display: flex;
    justify-content: space-between;
}
.eventCard .eventData .eventDate {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.2;
    text-transform: uppercase;
    color: #FF1E1E;
    margin-bottom: 8px;
}

.eventCard .eventData .eventName {
    font-family: 'Baloo 2';
    font-weight: 700;
    font-size: 25px;
    line-height: 1;
    color: #000000;
    min-height: 64px;
    display: flex;
    align-items: center;
    margin: 0;
}

.eventCard .eventData p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 1.2085;
    color: #000000;
    margin-bottom: 20px;
}

.eventCard .eventData span {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: baseline;
}

.eventCard .eventData span img {
    width: 14px;
    margin-right: 8px;
}

.eventCard .eventData .eventBook {
    padding: 0;
}

.eventCard .eventData .eventBook {
    padding: 40px 0 0;
    text-align: center;
}

.eventCard .eventData .eventBook button {
    background: linear-gradient(90deg, #FF1E1E 0%, #E90067 100%);
    border-radius: 28px;
    color: #FFF;
    border: 0;
    font-family: 'Baloo 2';
    font-weight: 700;
    font-size: 24px;
    line-height: 1.5;
    color: #FFFFFF;
    padding: 12px 38px;
}

@media (min-width: 1200px) {
    .col-xl-4 {
        flex: 0 0 auto;
        width: 25.33333333%;
    }
}

@media (max-width: 1399px) {
    .event-wrap {
        padding-bottom: 70px;
    }

    .event-wrap>h3 {
        font-size: 37px;
        margin-bottom: 70px;
    }

    .event-wrap>h3::after {
        height: 4px;
        width: 220px;
    }

    .eventCard .eventImage {
        height: 320px;
    }

    .eventCard .eventData .eventDate {
        font-size: 19px;
        margin-bottom: 8px;
    }

    .eventCard .eventData .eventName {
        font-size: 30px;
        line-height: 1.03;
        min-height: 60px;
        margin-bottom: 5px;
    }

    .eventCard .eventData p {
        font-size: 22px;
        margin-bottom: 16px;
    }

    .eventCard .eventData span {
        font-size: 19px;
    }

    .eventCard .eventData span img {
        width: 17px;
    }

    .eventCard .eventData .eventBook {
        padding: 38px 0 0;
    }

    .eventCard .eventData .eventBook button {
        font-size: 30px;
        line-height: 1.5;
        padding: 10px 30px;
    }

    .eventCard .eventData {
        padding: 16px 20px 22px;
    }
}

@media (max-width: 1199px) {
    .event-wrap {
        max-width: 936px;
        padding-bottom: 60px;
    }

    .event-wrap>h3 {
        font-size: 36px;
        margin-bottom: 60px;
    }

    .event-wrap>h3::after {
        height: 4px;
        width: 220px;
    }

    .eventCard .eventImage {
        height: 320px;
    }

    .eventCard .eventData .eventDate {
        font-size: 19px;
        margin-bottom: 8px;
    }

    .eventCard .eventData .eventName {
        font-size: 30px;
        line-height: 1.03;
        min-height: 60px;
        margin-bottom: 5px;
    }

    .eventCard .eventData p {
        font-size: 22px;
        margin-bottom: 16px;
    }

    .eventCard .eventData span {
        font-size: 19px;
    }

    .eventCard .eventData span img {
        width: 17px;
    }

    .eventCard .eventData .eventBook {
        padding: 38px 0 0;
    }

    .eventCard .eventData .eventBook button {
        font-size: 30px;
        line-height: 1.5;
        padding: 10px 30px;
    }

    .eventCard .eventData {
        padding: 16px 20px 22px;
    }
}

@media (max-width: 991px) {
    .event-wrap {
        max-width: 696px;
    }

    .event-wrap>h3 {
        font-size: 35px;
        margin-bottom: 60px;
    }

    .event-wrap>h3::after {
        height: 4px;
        width: 200px;
    }

    .eventCard .eventImage {
        height: 300px;
    }

    .eventCard .eventData .eventDate {
        font-size: 18px;
        margin-bottom: 8px;
    }

    .eventCard .eventData .eventName {
        font-size: 28px;
        line-height: 1.05;
        min-height: 60px;
        margin-bottom: 5px;
    }

    .eventCard .eventData p {
        font-size: 20px;
        margin-bottom: 15px;
    }

    .eventCard .eventData span {
        font-size: 18px;
    }

    .eventCard .eventData span img {
        width: 16px;
    }

    .eventCard .eventData .eventBook {
        padding: 30px 0 0;
    }

    .eventCard .eventData .eventBook button {
        font-size: 28px;
        line-height: 1.5;
        padding: 9px 28px;
        border-radius: 24px;
    }

    .eventCard .eventData {
        padding: 16px 20px 22px;
    }
}

@media (max-width: 768px) {
    .event-wrap {
        max-width: 420px;
        padding-bottom: 32px;
    }

    .event-wrap>h3 {
        font-size: 16px;
        line-height: 25px;
        margin-bottom: 16px;
    }

    .event-wrap>h3::after {
        height: 2px;
        width: 65px;
        top: calc(100% + 2px);
    }

    .event-wrap .row {
        margin: 0 -8px;
    }

    .event-wrap .row .event-col {
        padding: 0 8px;
        margin-bottom: 8px;
        flex: 0 0 auto;
        width: 50%;
    }

    .eventCard {
        background: #FFFFFF;
        box-shadow: 0px 8.66667px 17.3333px -3.25px rgba(16, 24, 40, 0.14);
        border-radius: 15px;
    }

    .eventCard .eventImage {
        height: 150px;
    }

    .eventCard .eventData {
        padding: 8px 7px 16px;
    }

    .eventCard .eventData .eventDate {
        font-size: 10px;
        line-height: 12px;
        margin-bottom: 6px;
    }

    .eventCard .eventData .eventName {
        font-size: 16px;
        line-height: 25px;
        min-height: 50px;
        margin-bottom: 2px;
    }

    .eventCard .eventData p {
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 6px;
    }

    .eventCard .eventData span {
        font-size: 12px;
        line-height: 15px;
    }

    .eventCard .eventData span img {
        width: 9px;
    }

    .eventCard .eventData .eventBook {
        padding: 12px 0 0;
    }

    .eventCard .eventData .eventBook button {
        font-size: 18px;
        line-height: 28px;
        padding: 3px 12px;
        border-radius: 15px;
    }
}

@media (max-width: 361px) {
    .eventCard .eventData .eventBook button {
        font-size: 14px;
    }
}